.App {
  text-align: center;
  background-color: rgb(182, 182, 223);
}

.App-header {
  background-color: #8396ba;
  padding: 20px;
  color: white;
}

.WeatherList {
  margin: 20px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background:#1d1f1d;
  width:75px;
}
.chart-container {
  color: black;

}